{% extends 'base.html.twig' %}

{% block body %}
    <h1>User edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Save Changes" />
    {{ form_end(form) }}


    <a class="btn btn-default" href="{{ path('user_index') }}">&laquo; Back to the list</a>

{% endblock %}
