{% extends 'base.html.twig' %}

{% block body %}
    <h2>Feedback</h2>
    <br/>
    {% set filters = {'f.email': 'Contact','f.feedback': 'Feedback'} %}

    <br/>
    <table class="table table-striped">
        <thead>
        <tr>
            <th width="50%">Reference</th>
            <th>Changes</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for feedback in pagination %}
            <tr>
                <td>
                    {{ feedback.reference.cache|latin }}
                </td>
                <td>
                    {% if feedback.author != feedback.reference.author %}
                        <span class="badge badge-primary">Author</span>
                    {% endif %}

                    {% if feedback.customDoi != feedback.reference.doiOnly %}
                        <span class="badge badge-primary">DOI</span>
                    {% endif %}

                    {% if feedback.title != feedback.reference.title %}
                        <span class="badge badge-primary">Paper Title</span>
                    {% endif %}

                    {% if feedback.position != feedback.reference.position %}
                        <span class="badge badge-primary">Page Numbers</span>
                    {% endif %}

                    {% if feedback.feedback != null %}
                        <span class="badge badge-primary">Other</span>
                    {% endif %}
                </td>

                {% if is_granted("ROLE_ADMIN") %}
                    <td class="text-center" width="150">
                        <a href="{{ path('feedback_show', { 'id': feedback.id }) }}">Review</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <div class="p-2 total align-self-center">
            {{ pagination.getTotalItemCount }} results
        </div>

        <div class="navigation p-2 align-self-center">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
